@model IEnumerable<FullStackMVC5.Models.Movie>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

@Html.ActionLink("New Movie", "New", "MoviesController", new { @class = "btn btn-default"})

<br />

@if (!Model.Any())
{
    <text>We don't have movies right now hehe </text>
}
else
{
    <br />
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="row">Movie</th>
                    <th scope="row">Genre</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var movie in Model)
                {
                    <tr>
                        <td>@Html.ActionLink(movie.Name, "Details", "Movies", new { id = movie.Id }, null)</td>
                        <td>@movie.MovieGenre.Name</td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
}
